/*================================
	SASS/BASE TEMPLATE
==================================
	Description:
	Author:
	Author URL: http://www.billykabuubi.com
/*

/*
==================================
	SMACSS STRUCTURE (sass)
==================================
    - Bourbon
    	- Bourbon
    - Base
    	- Font
    	- Typography
    - Helpers
    	- Mixins
    	- Variables
    - Modules
    	- 
==================================
	DOCUMENT STRUCTURE
==================================
    - CSS Reset
    - HTML5 Reset
    - Global
        - Buttons
        - Form Elements
        - HTML5 Reset
    	- Base Elements
    	- Link Elements
    	- Build elements
    - Build Elements
    	-
    	-
    - @fonts
*/

//=================================
// 	BOURBON 
//=================================
	@import "bourbon/bourbon";

//=================================
// 	BASE
//=================================
	@import "base/typography";

//=================================
// 	HELPERS
//=================================
	@import "helpers/variables";
	@import "helpers/mixins";

//=================================
// 	MODULES
//=================================
	@import "modules/buttons";

/*==================================
	CSS RESET
====================================*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;}

/*==================================
	HTML5 RESET
====================================*/

article, aside, dialog, figure, footer, header, hgroup, nav, section {
	display:block;
	zoom:1;
}

audio, canvas, video {
	display: inline-block; *display: inline; *zoom: 1;
}

/*==================================
	GLOBAL
====================================*/

*, *:before, *:after {
	@include box-sizing(border-box);
}

html {
	font-size: 100%;
	height:100%;
  	font-family: $font-fallback;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-family: $proxima-light, $font-fallback;
	color: #222;
	background:$bg-color;
	height:100%;
	width:100%;
	font-size: 100%;
	margin: 0;
}

.container {
	margin: 0 auto;
	width: 96%;

	@media only screen and (min-width: 73.125em) {
		max-width: 73.125em;
		margin: 0 auto;
		width: 100%;
	}
}

.row {
	overflow: hidden;
}

/*==================================
	BASE STYLES
====================================*/

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
	color:inherit;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  	text-transform: uppercase;
  	text-align:center;
	margin: 1em 0;
}

h1, .h1 {
	font-size: 2em;
}

h2, .h2 {
	font-size: 1.6em;
}

h3, .h3 {
	font-size: 1.4em;
}

h4, .h4 {
	font-size: 1.3em;
}

h5, .h5 {
	font-size: 1.25em;
}

h6, .h6 {
	font-size: 1.2em;
}

small {
	font-size: 0.85em;
}

ul li {
	list-style: none;
}

ol li {
	list-style: none;
}

strong, b {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

p {
	margin-bottom: 1em;
	font-size: 1.2em;
	text-align: center;
}

img, object, embed {
	height: auto;
	max-width: 100%;
}

blockquote {
	font-size: 1.1em;
	font-style: italic;
	margin: 0 0 1.250em 1.250em;
	padding: 0.625em 1.250em 1.250em;
}

blockquote p:last-child {
	margin-bottom: 0;
}


/*==================================
	LINK ELEMENTS
====================================*/

a {
	cursor: pointer;
	color:inherit;
	outline: 0;
	text-decoration:none;
}

a:visited {

}

a:hover {

}

a:active {

}

a:focus {
	outline: none;
}

/* Improve readability */
a:hover, a:active {
	outline: 0;
	text-decoration:none;
}

::selection {
	//background:;
	color:white;
}

/*==================================
	BUTTONS
====================================*/

a.button {
	display: inline-block;
	float:left;
	margin-bottom: 0.625em;
	outline: 0 none;
	padding: 0.438em 0.938em;
	width: auto;
	border-radius: 0.188em;
}

a.button:hover {
	text-decoration: none;
}

a.button:active {
	opacity: 0.9;
}

a.button-full-width {
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center;
	width: 100%;
}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/*==================================
	FORM ELEMENTS
====================================*/

input,
textarea {
	display: block;
	font-size: 1em;
	padding: 0.375em 1%;
	margin: 0;
	margin-bottom: 1.250em;
	outline: none;
	width: 100%;
	border-radius: 0.125em;
}

input[type=email] {

}

input[type=submit] {
	border: none;
	cursor: pointer;
	display: inline-block;
	padding: 0.438em 0.938em;
	width: auto;
}

input[type=submit]:hover {

}

input {
	max-width: 12.500em;
}

textarea {
	max-width: 25.000em;
}

.hide {
	display: none;
}

.text-align {
	text-align: center;
}

.align-center {
  	margin: 0 auto;
  	display:block;
  	clear:both;
  	width:100%;
}

/*==================================
	GENERAL ELEMENTS
====================================*/

.sitewrap {
	height:100%;
	width:100%;
}

/*==================================
	HERO ELEMENTS
====================================*/

.hero-wrapper {
	background-image:url('../img/hero2.jpg');
	background-attachment:fixed;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:center center;
	font-family: $playfair;
	height:100%;
	width:100%;

	nav {
		text-align: right;
		font-family: $proxima-bold;
		float: right;
	    clear: both;
	    width: 100%;
	    margin: 70px;

		a {
			color:white;
			text-transform: uppercase;
			padding:10px;
			margin:20px;
			text-decoration: none;

			&:last-child {
				border:3px solid white;
				border-radius:60px;
				padding:15px 30px;
			}
		}
	}

	.hero-info {
		text-align: center;
		top:50%;
		transform:translateY(-65%);
		position:relative;
		color: white;
		max-width: 800px;
		margin:0 auto;

		h1 {
			margin-top:0;
			color:white;
			font-family:$playfair;
			text-transform: none;
			font-size:2.6em;
			line-height: 1.5em;
		}

		p {
			font-size:1.3em;
		}

		.btn-hero {
			display: inline-block;
			color:white;
			padding:18px 75px;
			border-radius:60px;
			border:0;
			letter-spacing: normal;
			text-transform: uppercase;
			box-shadow:0px 0px 16px 9px rgba(0, 0, 0, 0.23);
			@extend .btn-hero-bg;
		}
	}
}

/*==================================
	ABOUT ELEMENTS
====================================*/

.about-wrapper {
	max-width:800px;
	font-family: $playfair;
	margin:7em auto;

	p {
		line-height: 1.8em;
		font-family:$playfair;
		font-weight: 600;
	}
}

/*==================================
	@fonts
====================================*/

@import "base/fonts";
