$font-fallback: sans-serif, Arial, Helvetica;
// proxima font variables
$proxima-black: 'proxima_black';
$proxima-bold: 'proxima_bold';
$proxima-light: 'proxima_light';

// lust font variables
$playfair: 'Playfair Display';