.btn {
	padding:15px 25px;
	position:relative;
	text-align: center;
	font-size:1em;
	font-family: $brandon-bold, $font-fallback;
	margin: 2em auto;
	text-align: center;
	display: block;
	letter-spacing: 0.1em;
}

